USE [ONLINESHOP]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 7/12/2019 4:55:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID_CATEGORY] [nchar](50) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMMAND]    Script Date: 7/12/2019 4:55:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMAND](
	[ID_COMMAND] [nchar](50) NOT NULL,
	[ID_CUSTOMER] [nchar](50) NULL,
	[COMMAND_DATE] [datetime] NULL,
	[ID_SHIPPER] [nchar](50) NULL,
	[INDEXCHECK] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMMAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMMAND_PRODUCT]    Script Date: 7/12/2019 4:55:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMAND_PRODUCT](
	[ID_PRODUCT] [nchar](50) NOT NULL,
	[ID_COMMAND] [nchar](50) NULL,
	[TOTAL] [int] NULL,
	[QUANTITY] [smallint] NULL,
	[BUY_DATE] [date] NULL,
	[ID_CUSTOMER] [nchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 7/12/2019 4:55:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[ID_CUSTOMER] [nchar](50) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[DATEOFBIRTH] [nvarchar](255) NULL,
	[TEL] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[PASS] [nvarchar](255) NULL,
	[CUSTOMER_ADDRESS] [nvarchar](255) NULL,
	[GENDER] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CUSTOMER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 7/12/2019 4:55:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID_PRODUCT] [nchar](50) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[SIZE] [nvarchar](255) NULL,
	[COLOR] [nvarchar](255) NULL,
	[COUNTRY] [nvarchar](255) NULL,
	[PRICE] [real] NULL,
	[QUANTITY_REMAINING] [int] NULL,
	[GENDER] [nvarchar](255) NULL,
	[COMMAND_QUANTITY] [int] NULL,
	[KIND_OF_FABRIC] [nvarchar](255) NULL,
	[IMAGES] [nvarchar](255) NULL,
	[ID_CATEGORY] [nchar](50) NULL,
	[SUPPLIER] [nvarchar](255) NULL,
	[INFORMATION] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHIPPER]    Script Date: 7/12/2019 4:55:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIPPER](
	[ID_SHIPPER] [nchar](50) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[TEL] [nvarchar](255) NULL,
	[SHIPPER_ADDRESS] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SHIPPER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 7/12/2019 4:55:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[ID_STAFF] [nchar](50) NOT NULL,
	[ID_CUSTOMER] [nchar](50) NULL,
	[ID_COMMAND] [nchar](50) NULL,
	[ID_SHIPPER] [nchar](50) NULL,
	[ID_PRODUCT] [nchar](50) NULL,
	[NAME] [nvarchar](255) NULL,
	[TEL] [nvarchar](255) NULL,
	[STAFF_ADDRESS] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[PASS] [nvarchar](255) NULL,
 CONSTRAINT [PK_STAFF] PRIMARY KEY CLUSTERED 
(
	[ID_STAFF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CATEGORY] ([ID_CATEGORY], [NAME], [DESCRIPTION]) VALUES (N'1', N'T-shirt', N'T-shirt')
INSERT [dbo].[CATEGORY] ([ID_CATEGORY], [NAME], [DESCRIPTION]) VALUES (N'2', N'Pants', N'pants')
INSERT [dbo].[CATEGORY] ([ID_CATEGORY], [NAME], [DESCRIPTION]) VALUES (N'3', N'Hat', N'Hat')
INSERT [dbo].[CUSTOMER] ([ID_CUSTOMER], [NAME], [DATEOFBIRTH], [TEL], [EMAIL], [PASS], [CUSTOMER_ADDRESS], [GENDER]) VALUES (N'1', N'user01', N'1999-01-24', N'0334517233', N'user01@gmail.com', N'user01', N'hue', N'male')
INSERT [dbo].[CUSTOMER] ([ID_CUSTOMER], [NAME], [DATEOFBIRTH], [TEL], [EMAIL], [PASS], [CUSTOMER_ADDRESS], [GENDER]) VALUES (N'2', N'user03', N'1999-01-24', N'0334517234', N'user03@gmail.com', N'user03', N'hue', N'male')
INSERT [dbo].[CUSTOMER] ([ID_CUSTOMER], [NAME], [DATEOFBIRTH], [TEL], [EMAIL], [PASS], [CUSTOMER_ADDRESS], [GENDER]) VALUES (N'3', N'user02', N'1999-01-24', N'01666185569', N'user02@gmail.com', N'user02', N'da nang', N'male')
INSERT [dbo].[PRODUCT] ([ID_PRODUCT], [NAME], [SIZE], [COLOR], [COUNTRY], [PRICE], [QUANTITY_REMAINING], [GENDER], [COMMAND_QUANTITY], [KIND_OF_FABRIC], [IMAGES], [ID_CATEGORY], [SUPPLIER], [INFORMATION]) VALUES (N'1', N'quần1', N'L', N'xanh lá cây', N'Việt Nam', 500000, 100, N'nam', 2, N'cotton', N'quan1.jpg', N'2', N'LE HOA', N'DANG CAP NHAT')
INSERT [dbo].[PRODUCT] ([ID_PRODUCT], [NAME], [SIZE], [COLOR], [COUNTRY], [PRICE], [QUANTITY_REMAINING], [GENDER], [COMMAND_QUANTITY], [KIND_OF_FABRIC], [IMAGES], [ID_CATEGORY], [SUPPLIER], [INFORMATION]) VALUES (N'2', N'áo1', N'M', N'xanh lá chuối', N'Thái Lan', 500000, 100, N'nữ', 1, N'cotton', N'nu1.jpg', N'1', N'LE HOA', N'DANG CAP NHAT')
INSERT [dbo].[PRODUCT] ([ID_PRODUCT], [NAME], [SIZE], [COLOR], [COUNTRY], [PRICE], [QUANTITY_REMAINING], [GENDER], [COMMAND_QUANTITY], [KIND_OF_FABRIC], [IMAGES], [ID_CATEGORY], [SUPPLIER], [INFORMATION]) VALUES (N'3', N'áo2', N'L', N'xanh dương', N'Trung Quốc', 1000000, 100, N'nữ', 1, N'cotton', N'nu2.jpg', N'1', N'LE HOA', N'DANG CAP NHAT')
INSERT [dbo].[STAFF] ([ID_STAFF], [ID_CUSTOMER], [ID_COMMAND], [ID_SHIPPER], [ID_PRODUCT], [NAME], [TEL], [STAFF_ADDRESS], [EMAIL], [PASS]) VALUES (N'1', NULL, NULL, NULL, NULL, N'staff01', N'0905571475', N'da nang', N'staff01@gmail.com', N'staff01')
ALTER TABLE [dbo].[COMMAND]  WITH CHECK ADD  CONSTRAINT [FK_COMMAND_CUSTOMER] FOREIGN KEY([ID_CUSTOMER])
REFERENCES [dbo].[CUSTOMER] ([ID_CUSTOMER])
GO
ALTER TABLE [dbo].[COMMAND] CHECK CONSTRAINT [FK_COMMAND_CUSTOMER]
GO
ALTER TABLE [dbo].[COMMAND_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_PRODUCT_PRODUCT] FOREIGN KEY([ID_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID_PRODUCT])
GO
ALTER TABLE [dbo].[COMMAND_PRODUCT] CHECK CONSTRAINT [FK_ORDER_PRODUCT_PRODUCT]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY] FOREIGN KEY([ID_CATEGORY])
REFERENCES [dbo].[CATEGORY] ([ID_CATEGORY])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_COMMAND] FOREIGN KEY([ID_COMMAND])
REFERENCES [dbo].[COMMAND] ([ID_COMMAND])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_COMMAND]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_CUSTOMER] FOREIGN KEY([ID_CUSTOMER])
REFERENCES [dbo].[CUSTOMER] ([ID_CUSTOMER])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_CUSTOMER]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_PRODUCT] FOREIGN KEY([ID_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID_PRODUCT])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_PRODUCT]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_SHIPPER] FOREIGN KEY([ID_SHIPPER])
REFERENCES [dbo].[SHIPPER] ([ID_SHIPPER])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_SHIPPER]
GO
